<%= stylesheet_link_tag "book/search", :media => "all" %>

<div id = "mypage">
<%if current_user%>
  <a href = "/user_pages">
<%elsif current_company%>
  <a href = "/com_pages">
<%end%>
    <input type="button" name="mypage" value="マイぺージ" class = "btn btn-primary"/>
  </a>

</div>

<form method="GET" action="/search/chat" >

  <div id ="s_word">

    検索ワード

    <input type="text" name="s_word" style="width:300px; height:30px" value = <%=@param[:s_word]%> >
    </input>

  </div>

  <div id ="e_word">

    除外ワード

    <input type="text" name="e_word" style="width:300px; height:30px" value = <%=@param[:e_word]%> >
    </input>
  </div>

  <div id ="result">

    チャット検索結果

  </div>

  <div id ="condition">

    詳細条件


  <details>

    <summary>カテゴリ</summary>

    <input type="radio" name="category" value="1" />

    学生同士のグループチャット

        </br>

  	<input type="radio" name="category" value="1" />

	    学生同士のディスカッション

	    </br>

	    <input type="radio" name="category" value="2" />

	    企業説明のチャット

	        </br>

		<input type="radio" name="category" value="2" />

		企業の終了ディスカッション

		    </br>

		    <input type="radio" name="category" value="2" />

		    企業の開催前ディスカッション

        <input type="radio" name="category" value = "" checked="checked" style="display:none;" />
        
  </details>

  <details>

    <summary>テーマ</summary>
    <input type="radio" name="theme" value="就職" />
    就職</br>
	  <input type="radio" name="theme" value="雑談" />
    雑談</br>
    <input type="radio" name="theme" value="説明" />
    説明
    <input type="radio" name="theme" value = "" checked="checked" style="display:none;" />
  </details>

  <details>

    <summary>参加人数</summary>

    <input type="radio" name="part" value="5" />
    5人以下
    </br>
	  <input type="radio" name="part" value="10" />
    10人以下
    </br>
	  <input type="radio" name="part" value="20" />
    20人以下
    <input type="radio" name="part" value = "" checked="checked" style="display:none;" />
  </details>
  </div>

  <div id ="results">
            
    <% @chat.each do |chat| %>
        <a href = "/chat_pages/<%= chat.id %>" >
            作成者：<%= chat.designer_name%></br>
            テーマ:<%= chat.theme%></br>
            上限人数:<%= chat.max_mem%></br>
            参加人数:<%= chat.join_mem%></br>
            開催日:<%= chat.start_date%>
            </br>
            </a>
            </br>
    <% end %>

  </div>

  <select name="sort" style="position:absolute;top:90px;left:700px;overflow: hidden;">
  <option value="0" checked="checked">更新日時</option>
  <option value="1">参加人数</option>
  <option value="2">上限人数</option>
  </select>


  <div id ="search">
  <input type="submit" value="検索" class = "btn btn-primary"/>
  </div>

</form>