    
    <%= stylesheet_link_tag "book/search", :media => "all" %>

<% if current_user%>
    <div id = "mypage">
      <a href = "/user_pages">
        <input type="button" name="mypage" value="マイぺージ"  class = "btn btn-primary"/>
      </a>
    </div>
<% elsif current_company%>
<% elsif current_super_user%>
<div id = "mypage">
<a href = "/super_users">
  <input type="button" name="mypage" value="マイぺージ"  class = "btn btn-primary"/>
</a>
</div>
<% else %>
<div id = "mypage">
<a href = "/">
  <input type="button" name="mypage" value="TOP"  class = "btn btn-primary"/>
</a>
</div>
<%end%>

    <form method="GET" action="/search/company">

    <div id ="s_word">

      検索ワード

      <input type="text" name="s_word" style="width:300px; height:30px" value = <%=@param[:s_word]%> >
      </input>
    </div>

    <div id ="e_word">

      除外ワード

      <input type="text" name="e_word" style="width:300px; height:30px" value = <%=@param[:e_word]%> >
      </input>
    </div>

    <div id ="result">

      企業検索結果

    </div>

    <div id ="condition">
      詳細条件

      <details>
        <summary>希望職種</summary>
        <input type="radio" name="occ" value = "プログラマ"/>
        プログラマ
        </br>
        <input type="radio" name="occ" value = "システムエンジニア"/>
        システムエンジニア
        </br>
        <input type="radio" name="occ" value = "ネットワークエンジニア"/>
        ネットワークエンジニア
        </br>
        <input type="radio" name="occ" value = "データベースエンジニア"/>
        データベースエンジニア
        </br>
        <input type="radio" name="occ" value = "Webエンジニア"/>
        Webエンジニア
        <input type="radio" name="occ" value = "" checked="checked" style="display:none;" />
      </details>

      <details>

        <summary>勤務地</summary>
        <input type="radio" name="loc" value="茨城" />
        茨城</br>
        <input type="radio" name="loc" value="千葉" />
        千葉</br>
        <input type="radio" name="loc" value="東京" />
        東京
        </br>
        <input type="radio" name="loc" value="埼玉" />
        埼玉
        </br>
        <input type="radio" name="loc" value="神奈川"/>
        神奈川
        </br>
        <input type="radio" name="loc" value="群馬" />
        群馬
        </br>
        <input type="radio" name="loc" value="栃木" />
        栃木
        <input type="radio" name="loc" value = "" checked="checked" style="display:none;" />
      </details>

      <details>

        <summary>開発ジャンル</summary>
        <input type="radio" name="system" value="ウォーターフォール" />
        ウォーターフォール</br>
        <input type="radio" name="system" value="プロトタイプ" />
        プロトタイプ</br>
        <input type="radio" name="system" value="スパイラル" />
        スパイラル</br>
        <input type="radio" name="system" value="アジャイル" />
        アジャイル
        <input type="radio" name="system" value = "" checked="checked" style="display:none;" />
      </details>

      <details>

        <summary>給与</summary>
        <input type="radio" name="salary" value="150000" />
        15万以上</br>
        <input type="radio" name="salary" value="200000" />
        20万以上</br>
        <input type="radio" name="salary" value="250000" />
        25万以上
        <input type="radio" name="salary" value = "" checked="checked" style="display:none;" />
      </details>

      <details>

        <summary>フレームワーク</summary>
        <input type="radio" name="frame" value="Ruby on rails" />
        Ruby on rails</br>
        <input type="radio" name="frame" value="CakePHP" />
        CakePHP</br>
        <input type="radio" name="frame" value="Spring" />
        Spring</br>
        <input type="radio" name="frame" value="JQuiry" />
        JQuiry</br>
        <input type="radio" name="frame" value="Bootstrap" />
        Bootstrap
        <input type="radio" name="frame" value = "" checked="checked" style="display:none;" />
      </details>


      <details>

        <summary>使用言語</summary>
        <input type="radio" name="lang" value="C言語" />
        C言語</br>
        <input type="radio" name="lang" value="JAVA" />
        JAVA</br>
        <input type="radio" name="lang" value="C++" />
        C++</br>
        <input type="radio" name="lang" value="Python" />
        Python</br>
        <input type="radio" name="lang" value="Ruby" />
        Ruby
        <input type="radio" name="lang" value = "" checked="checked" style="display:none;" />
        </details>

    </div>


  <div id ="results">
    <% @company.each do |company| %>
        <a href = "company/<%= company.id %>" >
            名前：<%= company.com_name%></br>
            業種:<%= company.occupations%></br>
            所在地:<%= company.location%></br>
            使用言語:<%= company.lang%></br>
            給与:<%= company.salary%></br>
            </a>
        </br>
    <% end %>

  </div>

    <div id ="search">
    <input type="submit" value="検索" class = "btn btn-primary"/>
    </div>
  
  </form>